.pointer {
  cursor: pointer;
}
.card-content {
  background-color: var(--color-background);
  padding: 10px;
  border: 2px solid var(--color-accent2);
  border-radius: 10px;
}
.icon {
  min-width: 20px;
  width: 20px;
  fill: var(--color-text);
}
