:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  letter-spacing: -0.5px;
  font-weight: 400;

  cursor: default;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  width: 100%;
  text-align: center;
}
body{
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}
.div {
  box-sizing: border-box;
}
a {
  font-weight: 700;
  color: var(--color-text);
  text-decoration: inherit;
  text-underline-position: auto;
}
a:hover {
  color: var(--color-accent-2);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-warning);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.card {
  padding: 2em;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.icon {
  fill: var(--color-text);
}

/* Light Theme */
[data-theme="light"] {
  --color-primary: #F0F4F8;
  --color-secondary: #D9E2EC;
  --color-accent-1: #BCCCDC;
  --color-accent-2: #9FB3C8;
  --color-warning: #FFDD57;
  --color-text: #2D3748;
  --color-background: #FFFFFF;
}
/* Dark Theme */
[data-theme="dark"] {
  --color-primary: #3B4F52;
  --color-secondary: #5C786E;
  --color-accent-1: #577146;
  --color-accent-2: #3B4E3F;
  --color-warning: #553F33;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
}
/* Woody Theme */
[data-theme="woody"] {
  --color-primary: #3B4F52;
  --color-secondary: #5C786E;
  --color-accent-1: #577146;
  --color-accent-2: #3B4E3F;
  --color-warning: #553F33;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #738E57;
}