:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  letter-spacing: -0.5px;
  font-weight: 400;

  cursor: default;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  width: 100%;
}
body{
  color: var(--color-text);
  background-color: var(--color-primary);
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}
.div {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: var(--color-accent1);
  text-decoration: none;
  text-underline-position: auto;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.card-content {
  background-color: var(--color-background);
  padding: 10px;
  border: 2px solid var(--color-accent2);
  border-radius: 10px;
}
.icon {
  min-width: 20px;
  width: 20px;
  fill: var(--color-text);
}

/* transition component */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}